@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@300;500;600&family=Rajdhani:wght@500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
body {
    background: rgba(233, 121, 1, 0.1);
    font-family: 'Rajdhani',
    sans-serif;
}

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #E97701;
    border-radius: 10px;
  }

  nav {
    background: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  nav .logo {
    max-width: 150px;
  }

  nav .logo img {
    width: 100%;
  }

  nav .navbar-toggler {
    background: #E97701;
  }

  nav .navbar-toggler img {
    width: 25px;
  }

  nav .navbar-collapse .navbar-nav {
    text-align: center;
  }

  nav .navbar-collapse .navbar-nav .nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #E97701;
  }

  header .situation {
    margin-top: 10px;
  }

  header .situation span {
    font-size: 12px;
    font-weight: 700;
    color: #000000;
  }

  header .situation .greenNumber {
    color: #E97701;
    margin-right: 20px;
  }

  header .situation .redNumber {
    color: #cc327a;
  }

  header .smallDesc {
    margin-top: 6px;
  }

  header .smallDesc p {
    font-size: 12px;
    color: #000000;
  }

  header .smallDesc p span {
    color: #cc327a;
  }

  footer{
      background: #ffffff;
  }
  footer .container {
    padding-top: 20px;
    border-top: 1px solid #dbdbdb;
  }

  footer .container .logo {
    width: 180px;
  }

  footer .container .logo img {
    width: 100%;
  }

  footer .container .descs {
    margin-top: 15px;
  }

  footer .container .descs p {
    color: #000000;
    font-size: 12px;
  }

  footer .container .page-links li {
    list-style: none;
    margin-bottom: 5px;
  }

  footer .container .page-links li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.8;
  }

  section.home-card-section {
    padding: 50px 0;
  }

  section.home-card-section .cards-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  section.home-card-section .cards-row .cards {
    width: 32%;
  }

  @media screen and (max-width: 920px) {
    section.home-card-section .cards-row .cards {
      width: 49%;
    }
  }

  @media screen and (max-width: 720px) {
    section.home-card-section .cards-row .cards {
      width: 100%;
    }
  }

  section.home-card-section .cards-row .cards .title h2 {
    font-family: 'Rajdhani',
      sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #E97701;
  }
  section.home-card-section .cards-row .cards .title h2::after{
    width: 60px;
    height: 3px;
    background: rgba(233, 121, 1, 0.5);
    display: block;
    content: '';
    margin-top: 5px;
  }

  section.home-card-section .cards-row .cards a {
    color: #000;
    text-decoration: none;
  }

  section.home-card-section .cards-row .cards a .card {
    padding: 20px;
    border: none;
    border-bottom: 1px solid rgba(233, 121, 1, 0.342);
  }

  section.home-card-section .cards-row .cards a .card .upper {
    margin-bottom: 12px;
  }

  section.home-card-section .cards-row .cards a .card .upper .image {
    margin-right: 12px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }

  section.home-card-section .cards-row .cards a .card .upper .image img {
    width: 100%;
  }

  section.home-card-section .cards-row .cards a .card .upper .info .name h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
  }

  section.home-card-section .cards-row .cards a .card .upper .info .money {
    margin-top: 5px;
  }

  section.home-card-section .cards-row .cards a .card .upper .info .money .received span {
    color: #E97701;
  }

  section.home-card-section .cards-row .cards a .card .upper .info .percentage span {
    opacity: 0.6;
  }

  section.home-card-section .cards-row .cards a .card .bottom .rate span, section.home-card-section .cards-row .cards a .card .bottom .timeLeft span {
    color: rgba(0, 0, 0, 0.55);
    font-size: 14px;
    font-weight: 400;
  }

  section.home-card-section .cards-row .cards .page-redirect-btn button {
    width: 100%;
    background: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    border: none;
    -webkit-box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  }

  section.home-card-section .cards-row .cards .page-redirect-btn button a {
    display: block;
    color: #E97701;
    text-decoration: none;
  }

    .heart-i{
        color: #E97701;
        font-size: 24px;

    }
    .heart-bg{
        background: #E97701;
    }


  /*# sourceMappingURL=home.css.map */
